.fixed {
    position: fixed;
    width: 100%;
    z-index: 11;
}

.headMain {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0 1px 6px 0;
    z-index: 10;
}

.logoCon {
    position: absolute;
    left: 0px;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    img {
        height: 60px;
    }
    h1 {
        margin: 0;
        padding-left: 1rem;
        font-size: 3rem;
    }
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        padding: 1rem;
        width: 25rem;
        border-radius: 8px;
        border: 1px solid #0000004a;
    }
}

.inputCon {
    width: 400px;
    padding-top: 1.34375em;
    mat-form-field {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .logoCon {
        position: unset;
        padding-left: unset;
        margin-top: -1em;
        img {
            display: none;
        }
        h1 {
            padding-left: unset;
            font-size: 2em;
          
        }
    }
    .headMain {
        flex-direction: column;
    }
    .inputCon {
        padding-top: unset;
        width: 75%;
        mat-form-field {
            height: 1em;
        }
    }
    .headMain {
        height: 8em;
    }
}
