.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 7rem;
    // background-color: #8ab3ff47;
    padding-left: 8rem;
    padding-right: 8rem;
}

.pokemonChild {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    border-radius: 16px;
    transition: all 75ms ease-in-out;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0px 8px 0;
    }
    img {
        height: 150px;
    }
    h2 {
        font-size: 1.5rem;
    }
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.btnCon {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 5rem;
    // background-color: #8ab3ff47;
    button {
        border: 1px solid #00000075;
        width: 16rem;
        background-color: white;
    }
}
